.about {
  &__name {
    font-size: $large-font-size;
    font-weight: 800;
    text-align: center;

    svg {
      position: relative;
      top: 8px;
    }
  }

  &__content {
    grid-template-areas:
      "img"
      "profession"
      "about";

    @include tablets {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "img profession"
        "img about";
      margin-top: $section-gap;
    }
  }

  &__profession {
    grid-area: profession;
    align-self: start;

    background-color: $primary;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: $lighter;
    padding: 1.5rem;
    border-radius: $b-radius;
    margin-left: -60px;
    margin-top: 10rem;

    @include mobile {
      margin: 0;
    }

    p {
      font-size: $normal-font-size;
    }
  }

  &__img {
    grid-area: img;

    border-radius: $b-radius;
    overflow: hidden;
    margin-bottom: -100px;
    z-index: -10;

    @include mobile {
      margin: 0;
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: $b-radius;
    }
  }

  &__text {
    grid-area: about;

    position: relative;
    padding: 1.5rem;
    border-radius: $b-radius;
    background-color: $lighter;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: -253px;
    margin-top: 0px;

    @include mobile {
      margin: 0;
    }
  }

  &__additional-text {
    padding-top: 0;
    @include tablets {
      padding-top: 4rem;
    }
  }

  &__date {
    font-weight: bold;
    margin-right: 0.5rem;
  }
}
