// Skills Animation Variables
$duration: 80s;
$iteration: 'infinite';
$direction: 'linear';

.skills {
  // min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__intro {
    margin-bottom: 50px;
    @include tablets { margin-bottom: 100px;}
  }

  &__grid {
    position: relative;
    display: flex;
    
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
    // &:hover > .skills__img {
    //   animation-play-state: paused;
    // }

  }

  &__img {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    padding: 1.5rem;

    background-color: $lighter;
    border-radius: 50%;
    object-fit: cover;

    @media screen and (min-width: 500px) {
      width: 100px;
      height: 100px;
      padding: 1rem;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    @include desktops {
      width: 120px;
      height: 120px;
      padding: 0.8rem;
    }

    img {
      display: block;
      width: 100%;
      height: auto;

      @include tablets {
        width: 90%;
      }
    }

    @mixin skillsPosition {
      position: absolute;
      top: 100px;
      left: 100px;
    }

    &:nth-child(1) {
      @include skillsPosition();
      @include skillsAnimationTransform(45, 150);

      // Responsiveness
      @include tablets {
        @include animation('skillOne_large #{$duration} #{$direction} #{$iteration}');
      }
      @include mobile {
        @include animation('skillOne_small' #{$duration} #{$direction} #{$iteration})
      }
    }
    &:nth-child(2) {
      @include skillsPosition();
      @include skillsAnimationTransform(45, 150);

      // Responsiveness
      @include tablets {
        @include animation('skillTwo_large #{$duration} #{$direction} #{$iteration}');
      }
      @include mobile {
        @include animation('skillTwo_small' #{$duration} #{$direction} #{$iteration})
      }
    }
    &:nth-child(3) {
      @include skillsPosition();
      @include skillsAnimationTransform(45, 150);

      // Responsiveness
      @include tablets {
        @include animation('skillThree_large #{$duration} #{$direction} #{$iteration}');
      }
      @include mobile {
        @include animation('skillThree_small' #{$duration} #{$direction} #{$iteration})
      }
    }
    &:nth-child(4) {
      @include skillsPosition();
      @include skillsAnimationTransform(45, 150);

      // Responsiveness
      @include tablets {
        @include animation('skillFour_large #{$duration} #{$direction} #{$iteration}');
      }
      @include mobile {
        @include animation('skillFour_small' #{$duration} #{$direction} #{$iteration})
      }
    }
    &:nth-child(5) {
      @include skillsPosition();
      @include skillsAnimationTransform(45, 150);

      // Responsiveness
      @include tablets {
        @include animation('skillFive_large #{$duration} #{$direction} #{$iteration}');
      }
      @include mobile {
        @include animation('skillFive_small' #{$duration} #{$direction} #{$iteration})
      }
    }
    &:nth-child(6) {
      @include skillsPosition();
      @include skillsAnimationTransform(45, 150);

      // Responsiveness
      @include tablets {
        @include animation('skillSix_large #{$duration} #{$direction} #{$iteration}');
      }
      @include mobile {
        @include animation('skillSix_small' #{$duration} #{$direction} #{$iteration})
      }
    }

  }

  .section-title {
    padding-top: 2rem;
    margin-bottom: 0px;
  }

  @include tablets {
    &__content { 
      margin-bottom: 100px;
    }
  
  }
}
